.authCard {
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.form-group {
    margin: 5px;
}

.alert {
    margin-top: 5px;
    padding: 1%;
}

.col-md-12 {
    width: 30%;
    align-items: center;
}