.authCard {
  display: block;
  width: 25rem;
  text-align: left;
  background-color: #fff;
  margin: 50px auto;
  padding: 20px;
}

.group {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
}

.btn-login {
  border: none;
  outline: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}
